{% extends 'base.html.twig' %}

{% block title %}
    HashCode - About
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="comment">About</label>
        </div>
        <div>
            <p>
                This website was written using Silex framework. Provide next functions:
            </p>
            <ul>
                <li><a href="{{ path('hash') }}"><strong>Hash.</strong></a> Generate hash from string</li>
                <li><a href="{{ path('password') }}"><strong>Password.</strong></a> Generate password using custom parameters</li>
                <li><a href="{{ path('random') }}"><strong>Random.</strong></a> Generate string with random symbols</li>
                <li><a href="{{ path('json') }}"><strong>Json.</strong></a> Validate json string</li>
                <li><a href="{{ path('base64') }}"><strong>Base64.</strong></a> Convert from-to Base64 algorithm</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}